@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 197 88% 94%; /* #E5F6FD */
    --foreground: 224 71% 4%;
    --card: 197 88% 98%;
    --card-foreground: 224 71% 4%;
    --popover: 197 88% 98%;
    --popover-foreground: 224 71% 4%;
    --primary: 197 78% 52%; /* #29ABE2 */
    --primary-foreground: 210 20% 98%;
    --secondary: 197 50% 90%;
    --secondary-foreground: 197 78% 30%;
    --muted: 197 50% 90%;
    --muted-foreground: 197 30% 50%;
    --accent: 147 50% 49%; /* #3CB371 */
    --accent-foreground: 147 25% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 50% 85%;
    --input: 197 50% 88%;
    --ring: 197 78% 52%;
    --chart-1: 197 71% 53%;
    --chart-2: 147 50% 49%;
    --chart-3: 220 70% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 222.2 47.4% 11.2%;
    --sidebar-primary: 197 78% 52%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 197 88% 94%;
    --sidebar-accent-foreground: 197 78% 30%;
    --sidebar-border: 197 50% 85%;
    --sidebar-ring: 197 78% 52%;
  }

  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;
    --primary: 197 78% 52%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 147 50% 49%;
    --accent-foreground: 147 25% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 197 78% 52%;
    --chart-1: 197 71% 53%;
    --chart-2: 147 50% 49%;
    --chart-3: 220 70% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 222.2 47.4% 11.2%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 197 78% 52%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 22.5%;
    --sidebar-ring: 197 78% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
